@import url(variaveis.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marcellus&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Marcellus&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root {
--cacauintenso-color: #4E3B31;
--cacau-claro-color: #D7C9C2;
--cacau-escuro-color: #3B2A25;
--cacau-acento-color: #A65E2E;
--cacau-fundo-color: #F9F5F2;
--ouropuro-color: #BF9861;
--banhodesol-color: #F1DA88;
--areiasserena-color: #cabaa0;
--luzdemarfim-color: #eeead0;
--background-color: #f5f4f0;
}

body {
    background-image:url(/src/img/Union.png);
    font-family: (inter, sans-serif);
}
header {
    background-color: black;
    padding: 0;
    margin: 0;
}


.contato {
    background-color: var(--banhodesol-color);
    width: 100%;
    margin: 0;
    padding: 0px;
    height: 100px;
    text-align: center;
    letter-spacing: 6px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cards {
    display: flex;
}

h3 {
    font-size: 20px;
    color: var(--cacau-escuro-color);
    text-align: center;
    margin: 15px 0;
}

h2 {
    color: black;
    text-align: center;
    margin: 15px 0;
    font-size: 50px;
    text-transform: uppercase;
}
.car-agen {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 2px;
}

.btn-agen {
    background-color: var(--ouropuro-color);
    color: var(--luzdemarfim-color);
    padding: 15px 35px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}
.btn-agen:hover {
    background-color: var(--cacauintenso-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.formulario {
    background: #EEEADE;
    margin:  50px;
    padding: 30px;
    border-radius: 15px;    
    width: 1000px;
    height: 400%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.formulario input, .formulario textarea {
    padding: 10px;
    margin: 10px 0 20px 0;
    width: 100%;
    border: none;
    background: white;
    border-radius: 5px;
    display: block;
    line-height: 1;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;}

.formulario textarea{
  min-height: 13px;
  resize: vertical;
  
}
.btn-enviar{
  padding: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
  width: 40%;
  height: 40%;
}

.card-container {
    max-width: 600px;
    margin: 40px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.6;
    display: block;
}


.card-redes h2 {
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.card-redes p {
    color: #000000;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.telefone, .email, .localização, .horarios {
    align-items: stretch;
    margin-bottom: 50px;
    display: flex;
    text-align: left;
    width: 80%;
}

.icone {
    background-color: var(--cacau-escuro-color);
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.image{
    height: 90px;
    left: 315px;
    top: 169.4%;
    border-radius: 50%;
    padding: 10px;
}

.info-text h3 {
    color: #000000;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: right;
}

.info-text p {
    color: #000000;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 20px;
    text-align: right;
}


ul li a.fa {
    font-size: 40px;
    color: white;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;
}

ul.car-redes li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    color: white;
    letter-spacing: 4px;
    transition: 0.5s;
}

ul.car-redes li a{
    text-decoration: none;
    display: flex;
    width: 100px;
    height: 80px;
    background: rgb(240, 227, 227);
    text-align: left;
    padding-left: 20px;
    box-shadow: -20px 20px 50px rgba(0,0,0,0.5);
}

ul.car-redes li a:hover{
    width: 300px;
    box-shadow: -20px 20px 50px rgba(0,0,0,0.5);
}

.mapa iframe {
    box-shadow: 0 0 20px #2c2424;
    width: 1900px;
    height: 450px;
    border-radius: 10px;
}

.loc-card {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    margin: 20px;
    width: 1000px;
    border-radius: 15px;
    font-size: 40px;
    justify-content: center;
    background-color: var(--banhodesol-color);
}

.conteiner {
    background-color: var(--banhodesol-color);
    color: #ffffff; 
    padding: 20px 30px;
    border-radius: 15px; 
    max-width: 450px;
    margin: 50px auto; 
    transform: rotate(-5deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-feedback {
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
}

.user {
    width: 60px;
    height: 60px;
    background-color: #ffffff; 
    border-radius: 50%;
    margin-right: 15px;
}
.user-image {
    width: 60px;
    height: 60px;
    background-image: url('/src/img/user.png');
    background-size: cover;
    background-position: left;
    border-radius: 50%;
    margin-right: 15px;
}

.feed {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.user-name {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.avaliacao {
    color: #f7b731; 
    font-size: 1.2rem;
    margin-right: 2px;
}

.periodo {
    color: #f0f0f0;
    font-size: 0.8rem;
    margin-left: 10px;
}

.text {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.linha-rolagem {
    background-color: var(--banhodesol-color); 
    color: var(--cacauintenso-color); 
    display: flex; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 15px 0; 
}

.linha-rolagem::-webkit-scrollbar {
    display: none;
}

.item-1 {
    font-size: 1.2rem;
    padding: 0 25px;
    display: flex;
    align-items: center;
    position: relative;
}

.item-1 + .item-2::before {
    content: '*'; 
    font-size: 1.5rem;
    position: absolute;
    left: -10px; 
    top: 50%;
    transform: translateY(-50%);
}

.item-1:first-child::before {
    content: none;
}


footer {
    background-color: #000000;
    font-size: 10px;
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
